*{
	font-family: sans-serif;
}
.header{
	display: flex;
	justify-content: flex-end;
	padding: 10px 0;
}
.info-login p{
	margin: 0;
	font-size: 15px;
}
.info-login{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.datepicker td, .datepicker th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
}
.error{
	color: red;
}
