.container-more{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #008080;;
}
.image{
	border: 3px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}
.role{
	position: relative;
}
.role .area-label{
	border: 3px solid black;
    border-radius: 50%;
    color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.role .label{
	border: 3px solid white;
    border-radius: 50%;
    color: white;
    letter-spacing: 5px;
	opacity: 0;
	width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: opacity 0.5s ease-in;	
}

.line{
	border: 1px solid black;
    width: 100px;
    height: 6px;
    background-color: black;
}

.role:hover .image{
	cursor: pointer;
	opacity: 0.3;
	cursor: pointer;
}
.role:hover .label{
	opacity: 1;	
	cursor: pointer;
}
