.main{
	margin-top: 30px;
}
.add-search{
	margin-bottom: 30px;
}
.area-pagination{
	display: flex;
	justify-content: flex-end;
}
.date-label{
	border-radius: 4px 0 0 4px !important;
    border-right: 0 !important;
}
.input-group-prepend span{
	width: 65px;
	display: flex;
	justify-content: center;
	font-size: 14px;
}
.input-group-append span{
	width: 65px;
	display: flex;
	justify-content: center;
}