.container-more{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login{
	position: relative;
}
#nullErr{
	position: absolute;
	top: -165px;
}
button{
	width: 100%;
}
.label{
	margin-top: 15px;
	text-align: center;
}
.label a{
	text-decoration: none;
}
.label a i{
	font-size: 14px;
    letter-spacing: 1px;
}